@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'sans-serif';

  --color-primary: #ED1C24;
  --color-secondary: #F2F2F7;
  --color-surface: #FFFFFF;
  --color-iosText: #1C1C1E;
  --color-iosGray: #8E8E93;

  --shadow-ios: 0 4px 20px rgba(0, 0, 0, 0.05);
  --shadow-ios-card: 0 2px 10px rgba(0, 0, 0, 0.03);
}

/* Custom base styles if needed */
body {
  background-color: #F2F2F7;
  color: #1C1C1E;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}