@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";

  --color-primary: #ed1c24;
  --color-secondary: #f2f2f7;
  --color-surface: #ffffff;
  --color-iosText: #1c1c1e;
  --color-iosGray: #8e8e93;

  --shadow-ios: 0 4px 20px rgba(0, 0, 0, 0.05);
  --shadow-ios-card: 0 2px 10px rgba(0, 0, 0, 0.03);
}

/* Custom base styles if needed */
body {
  background-color: #f2f2f7;
  color: #1c1c1e;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Custom thin scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(237, 28, 36, 1);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 28, 36, 1);
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(237, 28, 36, 1) transparent;
}
